<div class="row justify-content-center align-items-center vh-100 w-100">
  <div style="width: 350px;">
    <img src="/img/register/register.jpg" alt="Register" class="w-100">
    <h1 class="text-center my-4">Please Register</h1>
    <form action="/auth/register" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <input
        type="text"
        class="form-control rounded-0 p-3 border-bottom-0"
        name="userName"
        placeholder="Name"
      />
      <input
        type="text"
        class="form-control rounded-0 p-3 border-bottom-0"
        name="email"
        placeholder="Email"
      />
      <input
        type="password"
        class="form-control rounded-0 p-3 border-bottom-0"
        name="password"
        placeholder="Password"
      />
      <input
        type="password"
        class="form-control mb-2 rounded-0 p-3"
        name="repassword"
        placeholder="Password"
      />
      <button class="btn text-light w-100 mt-3 py-3" type="submit" style="background-color: #B22727;">Register User</button>
    </form>
  </div>
</div>